* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f5f9;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #0f172a;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background: #1d4ed8;
}

.timer {
  margin-top: 20px;
  font-size: 18px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 40px;
}

/* QUIZ */
.hidden {
  display: none;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 6px;
  margin-bottom: 15px;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #2563eb;
  transition: width 0.4s ease;
}

#question {
  margin: 15px 0;
}

#options label {
  display: block;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

#options input {
  margin-right: 10px;
}

.button-group {
  margin-top: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#prevBtn {
  background: #6b7280;
  color: #fff;
}

#nextBtn {
  background: #2563eb;
  color: #fff;
}

#submitBtn {
  background: #16a34a;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

/* RESULT */
#resultArea {
  background: white;
  padding: 30px;
  border-radius: 10px;
}
